<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="gopher-url" value="{{{ url }}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="//fonts.googleapis.com/css?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <pre class="source"><noscript>{{{ content }}}</noscript></pre>
    <script src="/app.js"></script>
</body>
</html>
