html
  font-size 14px

html, body
  width 100%
  height 100%
  margin 0

padding = 0.25rem 0.5rem
icon-size = 1.5rem
link-color = #455a64

.source
  margin 0

.spacer
  position absolute
  height 0
  margin 0
  user-select none

.content
  padding padding
  white-space pre-wrap
  word-wrap break-word
  word-break break-word

ul.menu
  margin 0
  padding padding
  list-style none

ul.menu .item:not(.ignore)
  position relative
  margin-bottom 0.375rem

ul.menu a
  display inline-block
  font-family monospace
  text-decoration none
  color link-color
  line-height icon-size

  .label
    display inline-block
    padding 0.125rem 0.25rem
    margin-left icon-size + 0.25rem
    line-height 1.125rem
    transition .15s ease-in-out
    border-bottom 1px solid link-color
    white-space pre

  &:hover .label
    background lighten(link-color, 10%)
    color darken(#fff, 5%)

ul.menu .icon
  position absolute
  display inline-block
  width icon-size
  height icon-size
  font-size icon-size
  color darken(link-color, 10%)
  user-select none

ul.menu .title
  font-weight bold
  font-size 125%

ul.menu .ignore pre
  white-space pre-wrap

.footer .server-info
  padding 0 0.1875rem 0.125rem;
  background lighten(link-color, 75%)
  color darken(link-color, 5%)
  border 1px solid transparent
  transition .25s ease-in-out
  white-space initial

  &:hover
    border 1px solid darken(link-color, 5%)
